<div class = "contents row">
  <% @tweets.each do |tweet| %>
  <%= render partial: "tweet", locals: {tweet: tweet} %>
  <% end %>
</div>


<!--renderメソッドの正しい書き方-->

<!--render partial: 'shared/item_header', locals: { item: @item }-->
render partial: 'ファイル名', locals: { オブジェクト: インスタンス変数}

